/*  FONTS */

@font-face {
    font-family: Impact;
    src: url(../fonts/impact.ttf);
}

@font-face {
    font-family: Poppins-medium;
    src: url(../fonts/Poppins-Medium.ttf);
}


/* BASE */

* {
    box-sizing: border-box;
}

html {
    color: rgb(37, 36, 36);
}

body {
    text-align: center;
    font-family: Poppins-medium;
}

footer {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.canvas {
    background-color: aquamarine;
}


/* HEADER */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    background: linear-gradient(to right, #14A0AA, #2EB976);
    font-size: 0.7rem;
    font-weight: normal;
    border-radius: 3rem;
    padding-inline-start: 1rem;
    margin-bottom: 10px;
}

.main-header .nav-bar {
    display: flex;
    width: 500px;
    font-size: 1rem;
}

.main-header .nav-bar .gallery-nav {
    width: 117px;
    padding: 5px 1.5rem;
    border-radius: 3rem;
}

.main-header .nav-bar .gallery-nav:hover {
    text-decoration: underline;
    cursor: pointer;
}

.main-header .nav-bar .gallery-nav.active {
    background-color: #fff;
    color: #21AC91;
}


/* Images Gallery */

.images-gallery {
    width: 100%;
}

.images-gallery img {
    width: 200px;
    margin: 5px;
}

.images-gallery img:hover {
    cursor: pointer;
}


/* CANVAS EDITOR  */

.canvas-container {
    height: 50vh;
}

.editor-box {
    display: none;
    justify-content: center;
    gap: 10px;
    align-items: center;
}


/*  CONTROL BOX */

.editor-box {
    justify-content: space-around;
}

.editor-box .control-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid;
    background-color: #383B42;
    width: 526px;
}

.editor-box .control-box {
    line-height: 1.5;
    padding: 10px;
    font-family: Poppins-medium;
}

.editor-box .control-box [name=line-text] {
    margin: 20px;
    padding: 0.5rem;
    /* width: 90%; */
    border-radius: 3rem;
    text-align: center;
    font-size: 1.1875rem;
}

.editor-box .control-box .lines-managment {
    width: 100%;
}

.editor-box .control-box .lines-managment img {
    width: 30px;
    padding: 3px;
}

.editor-box .control-box img {
    width: 30px;
    vertical-align: middle;
    border-radius: 5px;
}

.editor-box .control-box img:hover {
    cursor: pointer;
}


/*COLORS OF THE ICONS */

.control-box .lines-switch {
    background-color: #4CB7D2;
}

.control-box .add {
    background-color: #3ED455;
}

.control-box .trash {
    background-color: #D62837;
}

.more-options {
    background-color: #19A59F;
    width: 85%;
    /* height: 100px; */
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin: 27px 0;
}

.more-options * {
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 5px;
}

.more-options *:hover {
    background-color: rgb(90, 89, 89);
    cursor: pointer;
}

.more-options .btn {
    font-size: 1.1rem;
    padding: 1px;
    width: 30px;
    height: 1.875rem;
}

.more-options .color-pick {
    background: url(../img/icons/paint-board-and-brush.png) no-repeat;
    background-color: #fff;
    background-size: contain;
    background-position: center;
    font-size: 1rem;
    width: 30px;
    height: 1.875rem;
}

.more-options .color-pick:hover {
    background-color: rgb(90, 89, 89);
}

.control-box .color-pick input[name=color-picker] {
    cursor: pointer;
    opacity: 0;
}


/* HELPERS */

.flex {
    display: flex;
}

.clear-list {
    padding: 0;
    margin: 0;
    list-style: none;
}


/* MEDIA QUERIES  */

@media (max-width: 800px) {
    .editor-box {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .canvas-container {
        background-color: #fff;
        /* margin-bottom: 50px; */
        width: 329px;
    }
    .control-box {
        width: 100%;
    }
}