/*  FONTS */

@font-face {
    font-family: Impact;
    src: url(../fonts/impact.ttf);
}


/* BASE */

* {
    box-sizing: border-box;
}

html {
    color: rgb(37, 36, 36);
}

body {
    text-align: center;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.canvas {
    background-color: aquamarine;
}