header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    background: linear-gradient(to right, #14A0AA, #2EB976);
    font-size: 0.7rem;
    font-weight: normal;
    border-radius: 3rem;
    margin-bottom: 50px;
}

header .logo {
    text-transform: uppercase;
    font-size: 1rem;
    flex: 2
}

header .nav-bar {
    width: 500px;
    font-size: 1rem;
    flex: 1;
}

header .nav-bar>li.menu-close {
    display: none;
}

header .nav-bar .gallery-nav {
    width: 117px;
    padding: 5px 1.5rem;
    border-radius: 3rem;
}

header .nav-bar .gallery-nav:hover {
    text-decoration: underline;
    cursor: pointer;
}

header .nav-bar .gallery-nav.active {
    background-color: #fff;
    color: #21AC91;
}

header .menu-burger {
    display: none;
}

@media (max-width:1150px) {
    /* HEADER */
    header {
        margin-bottom: 10px;
    }
}

@media (max-width: 800px) {
    /* HEADER */
    header {
        margin-bottom: 10px;
    }
    header .nav-bar {
        display: flex;
    }
}

@media (max-width: 500px) {
    /* HEADER */
    header {
        font-size: 1rem;
        padding: 0 1rem;
    }
    /* NAV-BAR */
    header .nav-bar {
        height: 100vh;
        width: 50%;
        background: linear-gradient(to bottom, #14A0AA, #2EB976);
        flex-direction: column;
        position: fixed;
        right: 0px;
        top: 0;
        border-radius: 15px;
        transform: translateX(100%);
        overflow-x: hidden;
        transition: transform .6s;
        z-index: 10;
    }
    header .menu-burger {
        display: inline;
        cursor: pointer;
    }
    body.menu-open .nav-bar {
        transform: translateX(0);
    }
    header .nav-bar>li.menu-close {
        display: flex;
        align-items: flex-end;
        margin-top: 10px;
    }
    .nav-bar li.menu-close button {
        margin-left: 10px;
        height: fit-content;
        width: fit-content;
    }
    .nav-bar li.menu-close:hover button {
        background: linear-gradient(to right, #14A0AA, #2EB976);
        cursor: pointer;
    }
}